# Ignore dataset folders and files
data/
data/Amharic Character Dataset 1/
data/Amharic Character Dataset 2/
data/Amharic Character Dataset 1.rar
data/Amharic Character Dataset 2.rar
data/Handwritten-Amharic-character-Dataset/


# Ignore Python compiled files
*.pyc
